.container5{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.row5{
    height: 00%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.row5 .col-40{
    width: 50%;
    height: 100%;
}

.row5 .col-40 figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

}

.row5 .col-40 figure img{
    height: 700px;
    border-radius: 15px;
    align-items: center;
    margin-top: 6%;
}

.row5 .col-60{
    width: 70%;
    height: 100vh;
    padding-left: 40px;
    box-sizing: border-box;
}

.row5 .col-60 form{
    width: 100%;
}

.row5 .col-60 form .div-group{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.row5 .col-60 form .div-group h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.row5 .col-60 form .div-group ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.row5 .col-60 form .div-group ul li{
    padding: 7px 12px 7px 12px;
}

.row5 .col-60 form .div-group ul li label{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row5 .col-60 form .div-group ul li input{
    width: 15px;
    height: 15px;
}

.row5 .col-60 form .div-group:nth-child(3){
    display: flex;
    width: 100%;
}

.row5 .col-60 form .div-group:nth-child(3) input{
    padding: 10px 7px;
    margin: 0 auto;
    border: solid 1px #d5d5d4;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    outline: none;
}

.row5 .col-60 form .div-group:nth-child(3) input:focus{
    border: solid 2px #d5d5d4;
    box-sizing: border-box; 
}

.row5 .col-60 form .div-group:nth-child(3) input:active{
    border: none;
}

.row5 .col-60 form .div-group:nth-child(4){
    display: flex;
    flex-direction: column;
}

.row5 .col-60 form .div-group:nth-child(4) label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    margin-top: 8px;
    margin-bottom: 15px;
}

.row5 .col-60 form .div-group:nth-child(4) textarea{
    border-radius: 9px;
    outline: none;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.row5 .col-60 form .div-group:nth-child(5) button{
    border-radius: 16px;
    padding: 9px 6px;
    width: 100%;
    background-color:white;
    font-size: 1.3;
}

.row5 .col-60 form .div-group:nth-child(5) button:hover{
    background-color: burlywood;
    cursor: pointer;
}