.container2{
    display: flex;
    width: 95%;
    padding: 30px; 
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container2 .row2{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.container2 .row2 .col-50{
    width: 60%;
    margin: 10px;
}

.container2 .row2 .col-50 div {
    text-decoration: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.container2 .row2 .col-50 div a {
    text-decoration: none;
    color: gold;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 620;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 .row2 .col-50 div a:hover{
    color: aqua;
}

.container2 .row2 .col-50 div p {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 620;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .row2 .col-50 div div p {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 620; 
    margin-left: -33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
.container2 .row2 .col-50 .cont-image1{
    width: 100%;
    margin: 0%;
    padding: 0%; 
    justify-content: center;
    display: flex;

}

.container2 .row2 .col-50 .cont-image1 img {
    width: 80%;
    justify-content: center;
    display: flex;
}