body,main{
    margin: 0%;
    padding: 0%;
}

/*Parte superior*/

header{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

header nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 10vh;

}

header nav ul{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: aqua;
    align-content: center;
}

header nav ul li{
    margin: 20px;
    padding: 2px 10px;
    text-decoration: none;
    outline: none;
    font-size: 2rem;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Antonio', sans-serif;
}

header nav ul li a:hover{
    color: blanchedalmond;
}
